body {
  font-size: 3.5rem;
}

.container {
  border: 5px solid  olive;
  width: 50%;
  height: 70%;
  padding: 1%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wait {
  display: inline;
}
.done-waiting {
  display: none;
}

.navigation-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elementinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}

.disable-button {
  color: #e7e7e7; /* grey */
}
.enable-button {
  background-color: #008CBA; /* blue */
}
