html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.wait {
  display: inline;
}
.done-waiting {
  display: none;
}

.navigation-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elementinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  border: none;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  width: 100%;
}

.disable-button {
  color: #e7e7e7; /* grey */
}
.enable-button {
  background-color: #008CBA; /* blue */
}
